/* put this on all css, to control better size,... of elements*/

*, /*universal selector, select all*/
::before,/* except before & after (pseudo-element)*/
::after {
  /*takes padding and margin into account for the size of box*/
  box-sizing: border-box;
  /* remove margin from list */
  margin: 0;
  /* remove bullet points */
  padding: 0;
}

body {
  background-color: #333;
}

/* transform-origin */
.box {
  opacity: 0;
  width: 300px;
  height: 300px;
  margin: 20px;
  background: salmon;
  /*from a state to another. Point A to point B*/
  transition: transform 0.2s ease-in-out 0.2s, opacity 0.2s ease-in,
    background-color 0.2s ease-in-out;

  /*
  property (we wanna animate)
  duration s or ms
  timing function (the way the animation is done) : ease-in/out, ease-in-out...
  delay 
  */
}

.box:hover {
  opacity: 1;
  transform: rotate(180deg);
  background-color: lightblue;
}
