body {
  width: 100%;
  height: 100vh;
  margin: 0;
}

/*(priority)specifity : !important > inline style > id > class > html selector*/

#myTitle1 {
  color: midnightblue;
}

.title1 {
  color: cyan;
}

h3 {
  color: salmon;
  /* color: salmon !important; */
}
