/*doesn't have height by default*/
body {
  height: 100vh; /*viewport height*/
}

h3 {
  padding: 20px;
}

a {
  margin: 0 10px;
}

.img-responsive {
  width: 100%;
  height: auto;
}

.card-img {
  width: 640px;
  height: 700px;
  /* overflow: hidden; */
  background-color: rgba(124, 175, 230, 0.5);
  border: 1px solid black;
}
.block-img {
  height: 60%;
  width: 100%;
  overflow: hidden;
}

.description {
  padding: 10px;
}
