/* put this on all css, to control better size,... of elements*/

*, /*universal selector, select all*/
::before,/* except before & after (pseudo-element)*/
::after {
  /*takes padding and margin into account for the size of box*/
  box-sizing: border-box;
  /* remove margin from list */
  margin: 0;
  /* remove bullet points */
  padding: 0;
}

body {
  /* background-color: #f1f1f1; */
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
}

.logo {
  width: 100px;
  height: 100px;
  margin: 5px;
  background: url(resources/css+fichier+sprites.png);
}

.logo1 {
  background-position: 0 0;
}
.logo2 {
  background-position: -100px 0;
}
.logo3 {
  background-position: -200px 0;
}
