/* put this on all css, to control better size,... of elements*/

*, /*universal selector, select all*/
::before,/* except before & after (pseudo-element)*/
::after {
  /*takes padding and margin into account for the size of box*/
  box-sizing: border-box;
  /* remove margin from list */
  margin: 0;
  /* remove bullet points */
  padding: 0;
}

body {
  /* background-color: #f1f1f1; */
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
}

.container {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 15px 50px rgba(0, 0, 0, 0.2);
}

.circle {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: orange;
  background: url('https://images.unsplash.com/photo-1614027164847-1b28cfe1df60?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=972&q=80');
  background-size: cover;
  /* background-position: 50px 0; */
  margin: 0px 25px 25px 0px;
  float: left;
  /* float around element in circle */
  shape-outside: circle();
}
